
@Edit.Toolbar()
<div class="container">
    <div class="row">
        @foreach(var mvp in AsDynamic(Data["LifetimeMVPs"])){
            <div class="card border-0 col-md-3 mb-3">
                <div class="bg-light rounded-top">
                    <img class="card-img-top rounded-circle p-4" src="/DnnImageHandler.ashx?mode=profilepic&userId=@mvp.UserID&h=200&w=200" alt="Card image cap">
                </div>
                <div class="card-body text-center bg-secondary rounded-bottom">
                    <h4 class="card-title h-20">@mvp.FirstName @mvp.LastName</h4>
                    @Html.Raw(String.IsNullOrEmpty(@mvp.Country.ToString()) ? "<p class=\"card-text h-20\">&nbsp;</p>" : "<p class=\"card-text\">" + @mvp.Country + "</p>" )
                    @Html.Raw(String.IsNullOrEmpty(@mvp.Website.ToString()) ? "<p class=\"card-text h-20\"></p>" : "<p class=\"card-text\"><a href=\"" + @mvp.Website + "\" class=\"btn btn-primary\" target=\"_default\">Website</a></p>" )
                    <div class="row h-20">
                        <div class="col-md-12 h3">
                            @Html.Raw(String.IsNullOrEmpty(@mvp.Twitter.ToString()) ? "" : "<a href=\"//twitter.com/" + @mvp.Twitter + "\" target=\"_default\"><i class=\"fa fa-twitter px-1\"></i></a>" )
                            @Html.Raw(String.IsNullOrEmpty(@mvp.LinkedIn.ToString()) ? "" : "<a href=\"//www.linkedin.com/in/" + @mvp.LinkedIn + "\" target=\"_default\"><i class=\"fa fa-linkedin px-1\"></i></a>" )
                            @Html.Raw(String.IsNullOrEmpty(@mvp.Facebook.ToString()) ? "" : "<a href=\"//www.facebook.com/" + @mvp.Facebook + "\" target=\"_default\"><i class=\"fa fa-facebook px-1\"></i></a>" )
                            @Html.Raw(String.IsNullOrEmpty(@mvp.GitHub.ToString()) ? "" : "<a href=\"//github.com/" + @mvp.GitHub + "\" target=\"_default\"><i class=\"fa fa-github px-1\"></i></a>" )
                            @Html.Raw(String.IsNullOrEmpty(@mvp.Stackoverflow.ToString()) ? "" : "<a href=\"//stackoverflow.com/users/" + @mvp.Stackoverflow + "\" target=\"_default\"><i class=\"fa fa-stack-overflow px-1\"></i></a>" )
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>